body.day {
    background-color: #f4f4f4;
    color: #333;
    background-image: url('./Media/LightMode.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body.night {
    background-color: #1e1e1e;
    color: #dcdcdc;
    background-image: url('./Media/Darkmode.webp');
}

#editor-container {
    background-color: #ffffff;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.5s, color 0.5s;
}

body.night #editor-container {
    background-color: #000000;
    color: #dcdcdc;
}

.code-comment {
    color: #6a9955;
}

.code-keyword {
    color: #0000ff;
}

.code-function {
    color: #d14;
}

input, button {
    padding: 10px;
    margin-top: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: 'Source Code Pro', monospace;
}

.task-item {
    color: #6a9955;
    font-family: 'Source Code Pro', monospace;
    background: #f4f4f4;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

body.night .task-item {
    background: #1e1e1e;
    color: #6a9955;
}

.task-text {
    margin-right: 10px;
    flex-grow: 1;
}

.delete-btn {
    margin-left: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-right: 20px;
}

#header-gif {
    width: 200px;
    height: auto;
    border-radius: 05px;
}
